* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: sans-serif;
}

:root {
  --primary-color: #2e2a24;
  --primary-color-light: #835c38;
  --primary-color-light-2: #c09166;
  --primary-color-white: #f5f0eb;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
