a {
  text-decoration: none;
  color: inherit;
}
.homepage_container {
  width: 100vw;
  overflow-x: hidden;
}
.hero {
  background-image: url("https://res.cloudinary.com/evilloh/image/upload/v1563297665/evilloh-reviews/life-of-pi-wallpaper.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100vw;
  height: 100vh;

  color: white;
  text-transform: uppercase;
  text-align: center;

  display: flex;
  flex-direction: column;
}

.hero_description {
  padding-top: 20vh;
  width: 50vw;
  align-self: flex-end;
}
.hero h1 {
  font-size: 5.5rem;
}

.hero h2 {
  font-size: 3rem;
  font-weight: 300;
}

/* NAVBAR */

.navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  padding: 5rem 0;
  transition: all 0.6s;
}

.navbar li {
  display: inline-block;
  cursor: pointer;
  padding: 0 1rem;
}

.navbar input {
  width: 37vw;
  height: 2.7rem;
  border-radius: 7px;
  padding: 0 1rem;
}

.navbar_down {
  background-color: var(--primary-color);
}

.toHomepage {
  font-size: 3.7rem;
}

/* SECOND SECTION HOMEPAGE */

.secondSection {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appearthisshit {
  font-size: 4rem;
  color: black;
}

.appearthisshit p:first-child {
  text-align: center;
  margin: 4rem 0;
  font-weight: bold;
}

.appearthisshit .card_container {
  width: 20%;
}
/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .secondSection {
    display: none;
  }
  .hero_description {
    padding: 5vh 0;
    margin-top: 30vh;
    width: 100%;
    align-self: center;
    background-color: rgba(46, 42, 36, 0.363);
    text-align: center;
  }
  .hero h1,
  h2 {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .secondSection {
    display: none;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero h2 {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .navbar li:first-child {
    display: none;
  }
}
