.detail_container {
  background-color: var(--primary-color);
  display: flex;
}

.detail_description_container {
  margin: 10vh 0 0 35vw;
  font-size: 2.5rem;
  color: var(--primary-color-white);
  padding: 2rem 10rem 2rem 5rem;
  width: 65vw;
  min-height: 90vh;
}

.detail_container h1 {
  margin: 0 0 2rem 0;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-color-light-2);
}

.detail_container h4 {
  margin: 0 0 2rem 0;
}

.back_btn {
  background-color: var(--primary-color-white);
  color: var(--primary-color);
  padding: 1rem 3rem;
  border-radius: 4px;
  text-align: center;
  margin: 2rem auto;
  display: block;
  width: 12rem;
}

.detail_container figure img {
  width: 10vw;
  margin: 0 4rem;
}

.detail_infos_container {
  position: fixed;
  margin-top: 21vh;
  width: 35vw;
  font-size: 2rem;
  color: var(--primary-color-light-2);
}

.detail_infos_high {
  width: 100%;
  display: flex;
}

.detail_infos_high_text {
  display: flex;
  flex-direction: column;
}

.detail_infos_high_text p {
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.detail_infos_trama {
  margin: 4rem;
  line-height: 1.5;
  font-style: italic;
}

.detail_infos_container span {
  color: var(--primary-color-white);
}

@media screen and (max-width: 768px) {
  .detail_container {
    flex-direction: column;
  }

  .detail_infos_container {
    position: relative;
    margin-top: 21vh;
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
  }

  .detail_infos_high {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .detail_container figure img {
    width: 40vw;
  }

  .detail_description_container {
    margin: 0;
    padding-top: 10rem;
    width: 100%;
    border-top: 1px solid var(--primary-color-white);
  }
}

@media screen and (max-width: 425px) {
  .detail_infos_high {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .detail_infos_high_text {
    margin: 3rem;
  }

  .detail_container figure img {
    width: 70vw;
  }
  .detail_container figure {
    text-align: center;
  }
  .detail_description_container {
    padding: 10rem 3rem 0 3rem;
  }
}
